<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.nemo.whatever.db.mapper.MessageMapper">
	<insert id="insert" parameterType="net.nemo.whatever.entity.Message" useGeneratedKeys="true" keyProperty="id">
		insert into messages (sender, receiver_id, timestamp, chat_id, type, content)
		values (#{sender}, #{receiver.id}, #{time}, #{chat.id}, #{type}, #{content})
	</insert>
	
	<select id="findBy" resultType="net.nemo.whatever.entity.Message">
		select id from messages
		where sender=#{sender} and receiver_id = #{receiver.id} and content = '${content}'
	</select>
	
	<select id="findMessages" resultType="Map">
		select m.id, m.timestamp, m.sender, m.type, m.content, u.name as receiver, a.path as apath, 
			case when m.sender = u.name then 'sent' else 'received' end as direction,
			case when m.type=1 then true else false end as is_image
		from messages m 
			join users u on m.receiver_id = u.id 
			left join attachments a on m.content = a.file_name
		where m.chat_id = #{chat_id}
	</select>
</mapper>

