<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.nemo.whatever.db.mapper.MessageMapper">
	<insert id="insert" parameterType="net.nemo.whatever.entity.Message" useGeneratedKeys="true" keyProperty="id">
		insert into messages (sender, receiver_id, timestamp, chat_id, type, content)
		values (#{sender}, #{receiver.id}, #{time}, #{chat.id}, #{type}, #{content})
	</insert>
	
	<select id="findCount" resultType="int" parameterType="net.nemo.whatever.entity.Message">
		select count(id)
		from messages
		where sender=#{msg.sender}
		  and receiver_id = #{msg.receiver.id}
		  and content = #{msg.content}
	</select>
	
	<select id="findMessages" resultType="Map">
		select m.timestamp as time, m.sender as name,
			case when m.sender = u.name then 'sent' else 'received' end as type,
			case when m.type=1 then a.path else m.content end as text
		from messages m
			join users u on m.receiver_id = u.id
			left join attachments a on m.content = a.file_name
		where m.chat_id = #{chat_id}
	</select>
</mapper>

