.fragment {
    font-size: 12px;
    font-family: tahoma;
    height: 140px;
    width: 300px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img {
    float: left;
    margin-right: 10px;
    border: 1px solid grey;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}

.statusbar-overlay {
    background: #000000;
}

.navbar{
    background: #000000;
    color: white;
}

.list-block{
    margin:0px!important;
}